:root {
	--bg-body-color: #fffefe;
	--bg-layout-color: #e5e7ec;
	--bg-color-layout: #F3F4F6;
	--color-text-muted: #394150;
	--color-text: #000000;
	--color-anchor: #263fa9;
	--bg-liam-color: #c1b6f8;
	--bg-sophia-color: #edacd2;
	--bg-ethan-color: #9dc4f8;
	--bg-isabella-color: #f8d8b0;
	--bg-noah-color: #86e7d4;
	--font-family: "Outfit", sans-serif, "Arial";
}

/* ----------> GLOBAL STYLES <---------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

/* -------> BODY <-------- */

body {
	background-color: var(--bg-body-color);
	width: 100%;
	height: 100%;
	font-family: var(--font-family);
	display: grid;
	grid: "main" 1fr "footer" auto / 1fr;
	padding: 20px 0px;
}

/* -------> LAYOUT CONTAINER <-------- */
.layout-container {
	grid-area: main;
	border-radius: 25px;
	width: 95%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	background-color: var(--bg-color-layout);
	position: relative;

	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, 1fr);

}

.layout-container .bck_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/* -------> HEADER <-------- */
.header {
	grid-area: 1 / 1 / 2 / 4;
	margin: 25px;
	z-index: 20;
	width: 50%;
	margin-bottom: 60px;
}



.header a {
	text-decoration: none;
	color: var(--color-anchor);
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 30px;
}

.header h1 {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--color-text);
	margin: 1.5rem 0;
}

.header p {
	color: var(--color-text-muted);
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.75rem;
}

/* -------> TEAM MEMBERS CONTAINER <-------- */
.meet-team-container {
	grid-area: 2 / 1 / 4 / 4;
	width: 100%;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	z-index: 30;
}

.member-team {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.member-team .photo img {
	display: block;
	background-size: contain;
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
}

.member-team .bakg-gradient {
	position: absolute;
	inset: 0;
	background-image: url(./resources/Gradient.svg);
	background-repeat: no-repeat;
	background-size: cover;
	pointer-events: none;
}

.meet-team-container :nth-child(1).member-team {
	grid-area: 1 / 1 / 2 / 2;
	background-color: var(--bg-liam-color);
}

.meet-team-container :nth-child(2).member-team {
	grid-area: 1 / 2 / 2 / 3;
	background-color: var(--bg-sophia-color);
}

.meet-team-container :nth-child(3).member-team {
	grid-area: 1 / 3 / 2 / 4;
	background-color: var(--bg-ethan-color);
}

.meet-team-container :nth-child(4).member-team {
	grid-area: 2 / 2 / 3 / 3;
	background-color: var(--bg-isabella-color);
}

.meet-team-container :nth-child(5).member-team {
	grid-area: 2 / 3 / 3 / 4;
	background-color: var(--bg-noah-color);
}

.meet-team-container .no_team {
	grid-area: 2 / 1 / 3 / 2;
	background-color: var(--bg-layout-color);
}

.member-team .card-text {
	position: absolute;
	bottom: 10px;
	left: 25px;
	color: var(--bg-body-color);
}

.name {
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	font-weight: bold;
}

.job-title {
	font-size: 1rem;
	font-weight: 300;
}

.meet-team-container .no_team {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
	justify-content: end;
	padding: 1.75rem 3.5rem 1.5rem 2.5rem;
	font-size: 1.25rem;
	background: var(--bg-layout-color);
}

.no_team .ancor {
	display: inline-flex;
	align-items: flex-end;
	padding: 15px 0px;
}

.ancor a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-muted);
	font-size: 1.25rem;
	font-weight: 500;
	margin-right: 5px;
}

/* ----------> FOOTER <------------- */
.author-info {
	grid-area: "footer";
	font-size: 14px;
	text-align: center;
	margin-top: 30px;
	color: rgb(55, 65, 81);

}

.author-info a {
	text-decoration: none;
	color: var(--color-anchor);
}

/* ------------> RESPONSIVE DESIGN <------------ */

@media(min-width:1200px) {
	body {
		height: 100vh;
	}

	.layout-container {
		max-width: 90%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.meet-team-container {
		display: contents;
	}

	.header {
		grid-area: 1 / 1 / 2 / 3;
		width: 90%;
	}

	.meet-team-container :nth-child(1).member-team {
		grid-area: 1 / 3 / 2 / 4;
	}

	.meet-team-container :nth-child(2).member-team {
		grid-area: 1 / 4 / 2 / 5;
	}

	.meet-team-container :nth-child(3).member-team {
		grid-area: 2 / 2 / 3 / 3;
	}

	.meet-team-container :nth-child(4).member-team {
		grid-area: 2 / 3 / 3 / 4;
	}

	.meet-team-container :nth-child(5).member-team {
		grid-area: 2 / 4 / 3 / 5;
	}

	.meet-team-container .no_team {
		grid-area: 2 / 1 / 3 / 2;
		background: none;
	}

}

@media (max-width: 768px) {

	.meet-team-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.meet-team-container :nth-child(1).member-team {
		grid-area: 1 / 1 / 2 / 2;
	}

	.meet-team-container :nth-child(2).member-team {
		grid-area: 1 / 2 / 2 / 3;
	}

	.meet-team-container :nth-child(3).member-team {
		grid-area: 2 / 1 / 3 / 2;
	}

	.meet-team-container :nth-child(4).member-team {
		grid-area: 2 / 2 / 3 / 3;
	}

	.meet-team-container :nth-child(5).member-team {
		grid-area: 3 / 2 / 4 / 3;
	}

	.meet-team-container .no_team {
		grid-area: 3 / 1 / 4 / 2;
	}
}

@media (max-width: 640px) {

	.layout-container {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding: 20px;

	}

	.meet-team-container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.header {
		width: 80%;
	}

	.member-team {
		width: 100%;
		aspect-ratio: 1;
	}

	.member-team .card-text {
		position: absolute;
		bottom: 65px;
		left: 50px;
	}
}

@media (max-width: 412px) {
	* {
		font-size: 14px;
	}

	.member-team .card-text {
		bottom: 30px;
		left: 35px;
	}
}